<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">


<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <tr>
	    <th>Tags</th>
	    <th>Value</th>
        </tr>
{% for tag in exif.keys() %}
        <tr>
	    <td>{{ tag }}</td>
	    <td>{{ exif[tag] }}</td>
        </tr>
{% endfor %}
    </table>
</div>

</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
