{% extends "show_photos.html" %}
{% block photos %}

<div class="row">
    {% for photo in photos %}
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <a rel="lightbox" href="/static/photos/{{ photo.filename }}">
      <img src="/static/photos/{{ photo.filename }}" alt="Photo {{ photo.id }}" />
      </a>
	<div class="caption">
        <h3>
	  <a href="#" class="edit-inline" data-type="text" data-pk="{{ photo.id }}" data-name="title" data-url="/edit" data-title="Enter photo title">
	    {% if photo.title %}
		{{ photo.title }}
	    {% else %}
        	Photo {{ photo.id }}
	    {% endif %}
	  </a>
	</h3>

	<a class="btn btn-info" onclick="ajif({{ photo.id }})">Exif Data</a>

        {% if session.logged_in %}
    	<form class="one-button" action="{{ url_for('delete_photo') }}" method="post">
            <input type="hidden" value="{{ photo.id }}" name="id" />
            <input type="hidden" value="{{ photo.filename }}" name="filename" />
            <button class="btn btn-warning" type="submit">Delete</button>
    	</form>
	{% endif %}
      </div>
    </div>
  </div>
   {% else %}
<div class="alert alert-danger">Unbelievable.  No photos here so far.</div>
{% endfor %}
</div>

<div id="exif-content"></div>

<script>
function ajif(photo_id){
    $( "#exif-content" ).load( "/show_exif/" + photo_id, function(){
        $('#myModal').modal()
    } );
}
</script>

{% endblock %}
