{% extends "layout.html" %} {% block body %} {% if session.logged_in %}

<h1>Take Photo</h1>

<div class="row">

<form class="form-horizontal" role="form" action="{{ url_for('add_photo') }}" method="post">
<div class="col-md-6">

    <div class="form-group">
        <label class="col-sm-2 control-label" for="photo-title">Title (optional)</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="photo-title" placeholder="Enter a title for the photo">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="photo-desc">Description (optional)</label>
        <div class="col-sm-10">
            <input type="textarea" class="form-control" name="photo-desc" placeholder="Enter a description for the photo">
        </div>
    </div>
    <div class="form-group">
        <label for="jpg-quality" class="col-sm-2 control-label">JPG Quality</label>
        <div class="col-sm-10">
            <strong>1</strong>
            <input class="slider" 
		   type="number" 
		   class="span2" 
	 	   data-slider-min="1" 
	  	   data-slider-max="100" 
		   data-slider-step="1" 
		   value="85" 
		   data-slider-value="85" 
		   data-slider-orientation="horizontal" 
		   data-slider-selection="after" 
		   data-slider-tooltip="show" 
		   name="jpg-quality">
            <strong>100</strong>
        </div>
    </div>

    <div class="form-group">
        <label for="brightness" class="col-sm-2 control-label">Brightness</label>
        <div class="col-sm-10">
            <strong>0</strong>
            <input class="slider" 
		   type="number" 
		   class="span2" 
		   data-slider-min="0" 
		   data-slider-max="100" 
		   data-slider-step="1" 
		   value="50" 
		   data-slider-value="50"" 
		   name="brightness" />
	    <strong>100</strong>
        </div>
    </div>

    <div class="form-group">
        <label for="ISO" class="col-sm-2 control-label">ISO</label>
        <div class="col-sm-10">
            <select class="form-control" name="ISO">
                <option value="0">0 (Auto)</option>
                <option>100</option>
                <option>200</option>
                <option>320</option>
                <option>400</option>
                <option>500</option>
                <option>640</option>
                <option>800</option>
            </select>
        </div>
    </div>

<div class="form-group">
        <label for="awb_mode" class="col-sm-2 control-label">White Balance</label>
        <div class="col-sm-10">
            <select class="form-control" name="awb_mode">
                <option value="auto">Auto</option>
                <option value="sunlight">Sunlight</option>
                <option value="cloudy">Cloudy</option>
                <option value="shade">Shade</option>
                <option value="tungsten">Tungsten</option>
                <option value="fluorescent">Fluorescent</option>
                <option value="incandescent">Incandescent</option>
                <option value="flash">Flash</option>
                <option value="horizon">Horizon</option>
            </select>
        </div>
    </div>

<!-- @todo -  color_effects. value between 0 and 255 for u and v. or 'None' -->

<div class="form-group">
        <label for="contrast" class="col-sm-2 control-label">Contrast</label>
        <div class="col-sm-10">
            <strong>-100</strong>
            <input class="slider" 
		   type="number" 
		   class="span2" 
		   data-slider-min="-100" 
		   data-slider-max="100" 
		   data-slider-step="1" 
		   value="0" 
		   data-slider-value="0"
		   name="contrast" />
	     <strong>+100</strong>
        </div>
</div>

</div>

<div class="col-md-6">

<div class="form-group">
        <label for="sharpness" class="col-sm-2 control-label">Sharpness</label>
        <div class="col-sm-10">
            <strong>-100</strong>
            <input class="slider" 
                   type="number" 
                   class="span2" 
                   data-slider-min="-100" 
                   data-slider-max="100" 
                   data-slider-step="1" 
                   value="0" 
                   data-slider-value="0"
                   name="sharpness" />
             <strong>+100</strong>
        </div>
</div>

<div class="form-group">
        <label for="exposure_compensation" class="col-sm-2 control-label">Exposure Compensation</label>
        <div class="col-sm-10">
            <strong>-25</strong>
            <input class="slider" 
                   type="number" 
                   class="span2" 
                   data-slider-min="-25" 
                   data-slider-max="25" 
                   data-slider-step="1" 
                   value="0" 
                   data-slider-value="0"
                   name="exposure_compensation" />
             <strong>+25</strong>
        </div>    
</div>

<div class="form-group">
        <label for="exposure_mode" class="col-sm-2 control-label">Exposure Mode</label>
        <div class="col-sm-10">
            <select class="form-control" name="exposure_mode">
                <option value="auto">Auto</option>
                <option value="night">Night</option>
                <option value="nightpreview">Night Preview</option>
                <option value="backlight">Backlight</option>
                <option value="spotlight">Spotlight</option>
                <option value="sports">Sports</option>
                <option value="snow">Snow</option>
                <option value="beach">Beach</option>
                <option value="verylong">Very Long</option>
                <option value="fixedfps">Fixed FPS</option>
                <option value="antishake">Anti Shake</option>
                <option value="fireworks">Fireworks</option>
            </select>
        </div>
    </div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
	<div class="checkbox">
    	    <label>
      		<input type="checkbox" name="vflip" value="True" checked> vflip
    	    </label>
 	</div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
	<div class="checkbox">
    	    <label>
      		<input type="checkbox" name="hflip" value="True" checked> hflip
    	    </label>
  	</div>
    </div>
</div>

<div class="form-group">
        <label for="image_effect" class="col-sm-2 control-label">Image Effect</label>
        <div class="col-sm-10">
            <select class="form-control" name="image_effect">
                <option value="none">None</option>
                <option value="negative">Negative</option>
                <option value="solarize">Solarize</option>
                <option value="posterize">Posterize</option>
                <option value="whiteboard">Whiteboard</option>
                <option value="blackboard">Blackboard</option>
                <option value="sketch">Sketch</option>
                <option value="denoise">Denoise</option>
                <option value="emboss">Emboss</option>
                <option value="oilpaint">Oilpaint</option>
                <option value="hatch">Hatch</option>
                <option value="gpen">Gpen</option>
                <option value="pastel">Pastel</option>
                <option value="watercolor">Watercolor</option>
                <option value="blur">Blur</option>
                <option value="saturation">Saturation</option>
                <option value="colorswap">Colour Swap</option>
                <option value="washedout">Washed Out</option>
                <option value="posterise">Posterise</option>
                <option value="colorpoint">Color Point</option>
                <option value="colorbalance">Color Balance</option>
                <option value="cartoon">Cartoon</option>
	    </select>
	</div>
</div>

<div class="form-group">
        <label for="meter_mode" class="col-sm-2 control-label">Meter Mode</label>
        <div class="col-sm-10">
            <select class="form-control" name="meter_mode">
		<option value="average">Average</option>
		<option value="spot">Spot</option>
		<option value="backlit">Backlit</option>
		<option value="matrix">Matrix</option>
	    </select>
	</div>
</div>

<div class="form-group">
	<label for="shutter_speed" class="col-sm-2 control-label">Shutter Speed</label>
    	<div class="col-sm-10">
            <input type="number" name="shutter_speed" class="form-control" placeholder="0" value="0">
	    <span class="help-block">Shutter speen in Microseconds. 
	    			     One Microsecond is one millionth (<sup>1</sup>/<sub>1,000,000</sub>) of a second.
	    </span>
	</div>
 </div>

<div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-success" value="Take photo">
        </div>
    </div>
</div> <!-- close col-md-6 -->

</form>

</div> <!-- close row -->
{% else %}
<div class="alert">
    <p>You need to be logged in to take a photo</p>
</div>
{% endif %} {% endblock %}
